Repository svallory/saulo.engineer: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, prettier --write, eslint -f visualstudio, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{json,css,less,md}": [
    "prettier --write"
  ],
  "*.js": [
    "prettier --write",
    "eslint -f visualstudio"
  ],
  "*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix",
    "prettier --write"
  ],
  "*.{marko,html,json,md}": [
    "prettier --write"
  ]
}

Use git subtree instead of submodule, add loads of config
  .eslintignore
  .eslintrc.js
  .gitattributes
  .gitmodules
  .gitsubtrees
  .husky/pre-commit
  .husky/prevent-mixed-subtree-commits.sh
  .vscode/settings.json
  Config Files
  package.json
  pnpm-lock.yaml
  scripts/cmdtpl.ts
  src/pages/blog/[post].astro.tsx
  src/pages/contributes/marko-js/schemas/[schema].ts
  src/pages/contributes/marko-js/schemas/models/[schema].ts
  src/pages/contributes/marko-js/schemas/property-groups/[schema].ts
  src/pages/contributes/marko-js/schemas/utils/[schema].ts
  tsconfig.eslint.json
Due: prettier --write, eslint -f visualstudio, eslint --fix

Add missing husky package
  package.json
  pnpm-lock.yaml
Due: prettier --write

Remove unnecessary files
  src/pages/contributes/marko-js/attribute.json
  src/pages/contributes/marko-js/index.astro
  src/pages/contributes/marko-js/marko-tag.schema.json
  src/pages/contributes/marko-js/tictactoe.yaml
Due: prettier --write

Fix npm scripts
  .prototools
  package.json
Due: prettier --write

Squashed 'src/pages/contributes/marko-json-schemas/' changes from 7e8dae1..e962ae5
  examples/marko-tag/marko-tag.1.json
  examples/marko/marko.attribute-groups.json
  schemas/models/attribute.json
  schemas/models/attribute.object.json
  schemas/models/attribute.string.json
  scripts/dev.ts
  scripts/validate-schemas.sh
  src/models/attribute.object.yaml
  src/models/attribute.string.yaml
  src/models/attribute.yaml
Due: prettier --write, eslint --fix

Squashed 'src/pages/contributes/marko-json-schemas/' changes from e962ae5..7ef62e8
  .vscode/settings.json
  schemas/marko-tag.json
  schemas/models/attribute.string.json
  schemas/property-groups/parse-options.json
  schemas/property-groups/shared.json
  scripts/dev.ts
  scripts/validate-schemas.sh
  src/marko-tag.yaml
  src/models/attribute.string.yaml
  src/property-groups/parse-options.yaml
  src/property-groups/shared.yaml
  tests/local/marko-tag/marko-tag.1.json
  tests/local/marko-tag/marko-tag.attr-only.json
  tests/local/marko-tag/marko-tag.attr-shorthand-only.json
  tests/local/marko-tag/marko-tag.example-1.json
  tests/local/marko-tag/marko-tag.example-2.json
  tests/local/marko-tag/marko-tag.test-errors.json
  tests/local/marko/marko.attribute-groups.json
  tests/local/marko/marko.example.jsonc
  tests/local/marko/marko.html.json
  tests/local/marko/marko.math.json
  tests/local/marko/marko.stories.json
  tests/local/marko/marko.svg.json
  tests/local/marko/marko.tag-shorthand.json
  tests/published/marko-tag/marko-tag.1.json
  tests/published/marko-tag/marko-tag.attr-only.json
  tests/published/marko-tag/marko-tag.attr-shorthand-only.json
  tests/published/marko-tag/marko-tag.example-1.json
  tests/published/marko-tag/marko-tag.example-2.json
  tests/published/marko-tag/marko-tag.test-errors.json
  tests/published/marko/marko.attribute-groups.json
  tests/published/marko/marko.example.jsonc
  tests/published/marko/marko.html.json
  tests/published/marko/marko.math.json
  tests/published/marko/marko.stories.json
  tests/published/marko/marko.svg.json
  tests/published/marko/marko.tag-shorthand.json
Due: prettier --write, eslint --fix

Squashed 'src/pages/contributes/marko-json-schemas/' changes from 7ef62e8..ef9c22f
  README.md
  schemas/marko-tag.json
  src/marko-tag.yaml
Due: prettier --write

Add personal history to home page
  .astro/types.d.ts
  .eslintrc.js
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/components/Experience.astro
  src/components/Stats.astro
  src/components/TextBlock.astro
  src/components/grid/index.ts
  src/components/grid/two-cols.astro
  src/content/.markdownlint.json
  src/content/about/hobbies.md
  src/content/about/index.ts
  src/content/about/introduction.md
  src/content/about/open-source-contributions.md
  src/content/about/personality.md
  src/content/about/social-contributions.md
  src/content/about/stats.md
  src/content/experiences/crossover.md
  src/content/experiences/index.ts
  src/content/experiences/rocket-money.md
  src/content/experiences/toki-labs.md
  src/content/history.md
  src/docs/experiences/Rocket Money (Truebill).md
  src/docs/experiences/Toki Labs.md
  src/docs/experiences/index.astro
  src/env.d.ts
  src/pages/blog/[post].astro.tsx
  src/pages/content/AboutMe.md
  src/pages/index.astro
  src/pages/sections/Experiences.astro
  src/pages/sections/Recommendations.astro
  tailwind.config.js
  tsconfig.eslint.json
  tsconfig.json
Due: prettier --write, eslint -f visualstudio, eslint --fix

Remove accidentaly pasted text
  src/pages/sections/Experiences.astro
Due: none

privacy policy and a bunch of unknown updates
  .vscode/extensions.json
  src/assets/scss/base/_font.scss
  src/components/Footer.astro
  src/components/Header.astro
  src/components/IconLink.astro
  src/components/headers/SectionHeader.astro
  src/content/about/open-source-contributions.md
  src/content/about/social-contributions.md
  src/layouts/BaseLayout.astro
  src/layouts/DefaultLayout.astro
  src/layouts/MarkdownLayout.astro
  src/openapi.yaml
  src/pages/blog/[...page].astro
  src/pages/contributes/marko-js/index.astro
  src/pages/index.astro
  src/pages/marko-polo-2.astro
  src/pages/marko-polo.astro
  src/pages/preview/[...page].astro
  src/pages/preview/pages.ts
  src/pages/privacy-policy.md
  src/pages/sections/GetInTouch-test.astro
  src/pages/sections/GetInTouch.astro
Due: prettier --write, eslint --fix

recommendation letter for Julia Oliveira
  src/pages/recommendations/julia-oliveira.md
  src/pages/recommendations/signature-white.png
  src/pages/recommendations/signature.png
Due: prettier --write

fix: header and minor layout issues
  .astro/types.d.ts
  Profile.pdf
  public/Saulo Vallory - Resume 2025.pdf
  public/images/logos/dreamflare-logo.png
  public/images/logos/toki-labs-logo.jpeg
  public/images/logos/toki-labs-logo.png
  public/images/logos/toki-logo.png
  src/components/Experience.astro
  src/components/Header.astro
  src/components/SubExperience.astro
  src/content/experiences/camiseteria.md
  src/content/experiences/cleanify.md
  src/content/experiences/crossover.md
  src/content/experiences/cva.md
  src/content/experiences/doare.md
  src/content/experiences/dreamflare.md
  src/content/experiences/index.ts
  src/content/experiences/rocket-money.md
  src/content/experiences/softo.md
  src/content/experiences/toki-labs.astro
  src/content/experiences/toki-labs.md
  src/pages/index.astro
  src/pages/sections/Experiences.astro
  src/pages/sections/GetInTouch.astro
  src/pages/sections/LastRoles.astro
Due: prettier --write, eslint --fix
